§ =============================================================
§  Date and Time Format
§ =============================================================
SetFormat( 'NOWDATE', '%m/%d/%Y %H:%M' )
SetFormat( 'TIME', '%H%M' )
SetFormat( 'DATE', '%A, %b %d, %Y %H:%M %Z' )
SetFormat( 'TIME', '%H:%M' )
SetFormat( 'YEAR', '%Y' )
SetFormat( 'VERSION', '%Y%m%d%H%M' )
§ =============================================================
§  Personal Information
§ =============================================================
SetMacro( 'VERSION',      '|VERSION|-git' )
SetMacro( 'AUTHOR',       'YourName' )
SetMacro( 'AUTHORREF',    'YouInitials' )
SetMacro( 'EMAIL',        'YourEmail' )
SetMacro( 'TODAY',        '|NOWDATE|' )
SetMacro( 'ORGANIZATION', 'YourOrg' )
SetMacro( 'COMPANY',      'YourCompany' )
SetMacro( 'COPYRIGHT',    'Copyright (c) |YEAR|, |AUTHOR|' )
SetMacro( 'LICENSE',      'LicenseType' )
